<app-container>
    <h1 ngClass="mt-8 mb-12 text-3xl">Add New Employee</h1>

    <form #form="ngForm" (ngSubmit)="addEmployee()" ngClass="flex flex-col gap-4 max-w-md">
        <div ngClass="flex flex-col gap-0.5">
            <label for="fullName"></label>
            <input
                type="text"
                [(ngModel)]="addEmployeeRequest.fullName"
                name="fullName"
                ngClass="px-2 py-1 bg-slate-700"
                placeholder="Full Name">
            <span ngClass="text-red-500"></span>
        </div>
        <div ngClass="flex flex-col gap-0.5">
            <label for="email"></label>
            <input
                type="email"
                [(ngModel)]="addEmployeeRequest.email"
                name="email"
                ngClass="px-2 py-1 bg-slate-700"
                placeholder="Email">
            <span ngClass="text-red-500"></span>
        </div>
        <div ngClass="flex flex-col gap-0.5">
            <label for="phone"></label>
            <input
                type="tel"
                [(ngModel)]="addEmployeeRequest.phone"
                name="phone"
                ngClass="px-2 py-1 bg-slate-700"
                placeholder="Phone">
            <span ngClass="text-red-500"></span>
        </div>
        <div ngClass="flex flex-col gap-0.5">
            <label for="salary"></label>
            <input
                type="number"
                [(ngModel)]="addEmployeeRequest.salary"
                name="salary"
                ngClass="px-2 py-1 bg-slate-700"
                placeholder="Salary">
            <span ngClass="text-red-500"></span>
        </div>
        <div ngClass="flex flex-col gap-0.5">
            <label for="department"></label>
            <input
                type="text"
                [(ngModel)]="addEmployeeRequest.department"
                name="department"
                ngClass="px-2 py-1 bg-slate-700"
                placeholder="Department">
            <span ngClass="text-red-500"></span>
        </div>
        <div ngClass="flex flex-col gap-0.5">
            <input
                type="submit"
                ngClass="bg-slate-500 px-2 py-1 hover:bg-opacity-70 cursor-pointer">
        </div>
    </form>
</app-container>