<app-container class="my-6 overflow-auto">
  <table *ngIf="employees && employees.length !== 0;else noEmployees"
    ngClass="mx-auto table-auto border-separate border-spacing-2 border border-slate-500">
    <caption class="caption-top">
      All Employees List
    </caption>
    <thead>
      <tr>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">ID</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Profile</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Full Name</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Email</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Phone</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Department</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Salary</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.id"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1">
          <img ngClass="object-cover w-10 h-10 rounded-full" [src]="employee.profile" [alt]="employee.fullName">
        </td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.fullName"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.email"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.phone"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.department"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.salary"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 space-x-1">
          <button ngClass="bg-red-700 px-2 rounded-sm"><fa-icon [icon]="faTrash" /></button>
          <button ngClass="bg-teal-600 px-2 rounded-sm"><fa-icon [icon]="faEdit" /></button>
          <button ngClass="bg-teal-600 px-2 rounded-sm"><fa-icon [icon]="faEye" /></button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template>
  <ng-template #noEmployees>
    <p>No Employees Found</p>
  </ng-template>
</app-container>