<app-container class="my-6 overflow-auto">
  <div ngClass="mx-auto flex justify-end">
    <a [routerLink]="['/employees', 'add']"
    ngClass="bg-teal-600 px-2 py-1 rounded border border-transparent hover:bg-transparent hover:border-teal-600
    transition-all duration-700 ease-in-out">Add New Employee</a>
  </div>
  <table *ngIf="employees && employees.length !== 0;else noEmployees"
    ngClass="mx-auto w-full table-auto border-separate border-spacing-2 border border-slate-500">
    <caption ngClass="caption-top">
      All Employees List
    </caption>
    <thead>
      <tr>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">ID</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Profile</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Full Name</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Email</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Phone</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Department</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Salary</th>
        <th ngClass="text-start border border-slate-600 px-1.5 py-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[100px]"
          [title]="employee.id" [innerText]="employee.id"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1">
          <img ngClass="object-cover w-10 h-10 rounded-full" [src]="employee.profile" [alt]="employee.fullName">
        </td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.fullName"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.email"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.phone"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.department"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [innerText]="employee.salary"></td>
        <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-center">
          <a ngClass="inline-block border border-teal-600 hover:bg-teal-600 px-2 rounded-sm transition-all duration-700 ease-in-out"
            [routerLink]="['/employees','edit', employee.id]"><fa-icon [icon]="faEye" /></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="loadEmployee">
    loading employee list..
  </div>
  <ng-template #noEmployees>
    <p>No Employees Found</p>
  </ng-template>
</app-container>